@using Ecomerce.DTO;
@model ProductoDTO
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAll</h1>

<a class="btn btn-primary mb-3" href="@Url.Action("Form", "Producto")">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
        <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
    </svg><i class="bi bi-person-add"></i>
</a>
@if (Model.Products.Count > 0 || Model.Products != null)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>IdCupon</th>
                    <th>CantidadMinima</th>
                    <th>Codigo</th>
                    <th>Descuento</th>
                    <th>UrlImagen</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (ProductoDTO productoDTO in Model.Products)
                {
                    <tr>
                        <td style="text-align: center;">@productoDTO.IdProducto</td>
                        <td style="text-align: center;">@productoDTO.Nombre</td>
                        <td style="text-align: center;">@productoDTO.Precio</td>
                        <td style="text-align: center;">@productoDTO.Categoria</td>
                        <td style="text-align: center;">@productoDTO.UrlImagen</td>

                        <td>
                            <a class="btn btn-outline-warning" href="@Url.Action("Form", "Producto", new { IdProducto = productoDTO.IdProducto })">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                                </svg>
                            </a>
                            <a class="btn btn-outline-danger" href="@Url.Action("Delete", "Producto", new { IdProducto = productoDTO.IdProducto })" onclick="mensaje()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        function mensaje() {
            var mensajeConfirmacion = confirm("¿Seguro que deseas eliminar el registro?");
        }
    </script>
}
else
{
    <p>hay datos</p>
}
